<h1>Simple Calculator</h1>
<%= form_tag "/divide" do %>
<%= text_field_tag :a %>
<%= text_field_tag :b %>
<%= submit_tag "/" %>
<% end %>

<hr>

<h1>Division</h1>
<%= @a %> / <%= @b %> = <%= @result %>