<h1>Simple Calculator</h1>
<%= form_tag "/subtract" do %>
<%= text_field_tag :a %>
<%= text_field_tag :b %>
<%= submit_tag "-" %>
<% end %>

<hr>

<h1>Subtraction</h1>
<%= @a %> - <%= @b %> = <%= @result %>